<!--footer-->
<footer class="centered_layout layout-columns ">

    <aside class="col layout-columns">
        <div class="icon col">
         <i class="fas fa-mobile-alt"></i>
        </div>
        <div class="info col2">
             <h3> Telefonos</h3>
             <ul>
                 <li>098 100 696</li>
                 <li>2408 73 26</li>
             </ul>
         </div>
    </aside>

    <aside class="col layout-columns">
        <div class="icon col">
        <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="info col2">
       <h3>Direccion</h3>
       <ul>
           <li>Republica 2068</li>
           <li>La Comercial</li>
           <li>Montevideo, Uruguay</li>
       </ul>
    </div>
    </aside>

    <aside class="col layout-columns">
        <div class="icon col">
        <i class="far fa-paper-plane"></i>
    </div>
    <div class="info col2">
       <h3>Correo Electronico</h3>
     <ul>
         <li>agus.smm.2001@gmail.com</li>
     </ul>
    </div>
    </aside>

</footer>