<!---header--->

<header>
    <nav class="centered-layout desktop">
        <a href="index.html">Incio</a>
        <a href="#">Acerca de mi</a>
        <a href="#">Servicio</a>
        <a href="Portfolio.html">Portfolio</a>
        <a href="#">Experiencia</a>
        <a href="#">Contacto</a>
    </nav>
    <nav class="mobile">
        <a id="menu-button" href="#"><i class="fas fa-ellipsis-h"></i></a>
    </nav>
    <nav id="mobile-menu" class="mobile menu-hidden">
        <a href="index.html">Incio</a>
        <a href="#">Acerca de mi</a>
        <a href="#">Servicio</a>
        <a href="Portfolio.html">Portfolio</a>
        <a href="#">Experiencia</a>
        <a href="#">Contacto</a>
    </nav>
</header>